.login-form{
	width:300px;
	border: 2px solid black;
	border-radius: 15px;
	padding: 10px;
}

.login-header{
	font-size: 5em;
}

.login-button{
	width: 60px;
}

.register-link-button{
	width: 170px;
}
