<template name="login">
	<head>
		<title>Welcome to UNI-PONG</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4"><h1 class="login-header">UNI-PONG</h1></div>
				<div class="col-md-4"></div>
			</div>

			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<form class="login-form">
						<h2>Login to Play</h2>

						<label for="">E-mail</label>
						<input type="text" class="form-control">

						<label for="">Password</label>
						<input type="password" class="form-control">

						<button class="btn btn-default form-control login-button">Login</button>
					</form>
				</div>
				<div class="col-md-4"></div>
			</div>

			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<h2>Are you a new user?</h2>
					<button class="btn btn-default form-control register-link-button">Click Here To Register</button>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</body>
</template>