<template name="lobbylist">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="container">
			<h2>Lobbys</h2>
			<button class="btn btn-default form-control btn-nav" id="l1">Lobby 1</button>
			<p></p>
			<button class="btn btn-default form-control btn-nav " id="l2">Lobby 2</button>
			<p></p>
			<button class="btn btn-default form-control btn-nav" id="l3">Lobby 3</button>
			<p></p>
		</div>
	</body>
</template>