<template name="navbar">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="navbar navbar-fixed top">
			<div class="navbar-header" id="dashboard-redirect"><h2>UNI-PONG</h2></div>
			{{#if currentUser}}
			<div class="navbar-right">
				<div class="col-md-4"><button id="leaderboard-redirect" class="btn btn-default btn-nav form-control">Leaderboard</button></div>
				<div class="col-md-4"><button id="logout-button" class="btn btn-default btn-nav form-control">Logout</button></div>
			</div>
			{{/if}}
		</div>
	</body>
</template>