<template name="register">
	<head>
		<title>Registration</title>
		<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<h1 id="register-here">Register Here</h1>
		<form action="" class="registration-form">
			<h3>Please fill all fields</h3>

			<label for="">E-mail Address</label>
			<input type="text" class="form-control" id="email">

			<label for="">Desired Nickname</label>
			<input type="text" class="form-control" id="nickname">

			<label for="">Password</label>
			<input type="password" class="form-control" id="password">

			<button class="btn btn-default form-control registration-submit-button">Submit</button>

		</form>
	</body>
</template>