<template name="thankyouReg">
	<head>
		<title>Thankyou for Registering!</title>
		<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="row">
			<h1 class="thankyou">Thank you for Registering!</h1>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<button class="btn btn-default form-control" id="thankyou-login">Click Here to Login and Play</button>
			</div>
			<div class="col-md-4"></div>
		</div>
	</body>
</template>