.leaderboard{
	position: relative;
<<<<<<< HEAD
	top: -500px;
	margin-right: auto;
	margin-left: auto;
=======
	top: -480px;
	right: -20px;
>>>>>>> dev
}

.block{
	border: 1px solid white;
	padding: 5px;
}

.result{
	border: 1px solid white;
	padding: 15px;
}