<template name="leaderboard">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	</head>

		<div class="leaderboard">
			
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<h1>Leaderboard</h1>
				<div class="block">
					{{#each users}}
						<div class="result">
						{{#with profile}}
							<p>{{nickname}} <strong>{{wins}}-{{losses}}</strong></p>
						{{/with}}
						</div>
					{{/each}}
				</div>
			</div>
			<div class="col-md-4"></div>	
			
		</div>
	
</template>