<template name="leaderboard">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="leaderboard">
			
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<h1>Leaderboard</h1>
				<div class="block">
				{{#each users}}
					{{#with profile}}
						<p>{{nickname}} <strong>{{wins}}-{{losses}}</strong></p>
					{{/with}}
				{{/each}}
				</div>
			</div>
			<div class="col-md-4"></div>	
			
		</div>
	</body>
</template>