<template name="dashboard">
	<head>
		<title>Dashboard</title>
		<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<center>
			<img src="sprites/recomenormal.png" class="sprites" id="rnormal" hidden>
			<img src="sprites/recomeup.png" class="sprites" id="rup" hidden>
			<img src="sprites/reecomenormal.png" class="sprites" id="rnormal" hidden>
			<img src="sprites/reecomeup.png" class="sprites" id="rup" hidden>
			<img src="sprites/recomedown.png" class="sprites" id="rdown" hidden>
			<img src="sprites/recomehitdown.png" class="sprites" id="rkdown" hidden>
			<img src="sprites/recomekickup.png" class="sprites" id="rkup" hidden>
			<img src="sprites/piccolonormal.jpg" class="sprites" id="pnormal" hidden>
			<img src="sprites/piccoloup.jpg" class="sprites" id="pup" hidden>
			<img src="sprites/piccolodown.jpg" class="sprites" id="pdown" hidden>
			<img src="sprites/piccolokickdown.jpg" class="sprites" id="pkdown" hidden>
			<img src="sprites/piccolokickup.jpg" class="sprites" id="pkup" hidden>
			<img src="sprites/tiennormal.png" class="sprites" id="tnormal" hidden>
			<img src="sprites/tienup.png" class="sprites" id="tup" hidden>
			<img src="sprites/tiendown.png" class="sprites" id="tdown" hidden>
			<img src="sprites/tienkickdown.png" class="sprites" id="tkdown" hidden>
			<img src="sprites/tienkickup.png" class="sprites" id="tkup" hidden>
			<canvas id="myCanvas"></canvas>
			{{>leaderboard}}
			{{>characterSelect}}
		</center>
	</body>
</template>


