<template name="dashboard">
	<head>
		<title>Dashboard</title>
	</head>
	<body>
		<div class ="container">
			<div class="col-md-4">
				<h1>Controls</h1>
				<p>Press <strong>W</strong> to move up</p>
				<p>Press <strong>S</strong> to move down</p>
				<p>Press <strong>P</strong> to Play/Pause</p>
				<h1>Wanna Play With Your Friends?</h1>
				<button class="btn btn-default form-control" id="multiplay-nav-button">Play Multiplayer!</button>
			</div>
			<div class="col-md-8">
				<h1 class="leaderboard-header">Play against the Computer!</h1>
				<center><canvas id="myCanvas"></canvas></center>
			</div>
		</div>
	</body>
</template>


