.leaderboard-header{
	margin-left: 80px;
}

#myCanvas{
	width: 1300px;
	height: 512px;
	background: black;
}

body{
	font-family: 'Press Start 2P';
}

#invalid{
	color: red;
}

.sprites{
	width: 10px;
	height: 60px;
}

