<template name="dashboard">
	<head>
		<title>Dashboard</title>
		<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<center>
			<img src="sprites/tiennormal.png" class="sprites" id="tnormal" hidden>
			<img src="sprites/tienup.png" class="sprites" id="tup" hidden>
			<img src="sprites/tiendown.png" class="sprites" id="tdown" hidden>
			<img src="sprites/tienkickdown.png" class="sprites" id="tkdown" hidden>
			<img src="sprites/tienkickup.png" class="sprites" id="tkup" hidden>
			<canvas id="myCanvas"></canvas>
			{{>leaderboard}}
			{{>characterSelect}}
		</center>
	</body>
</template>


