.char-pics{
	width: 150px;
	width: 150px;
}

.image-shell{
	display: inline-block;
	border: 5px solid white;
	padding: 15px;
}

#piccolo:hover{
	background: purple;
}

#recoome:hover{
	background: orange;
}

#tien:hover{
	background: green;
}

#charSel{
 	position: relative;
    margin-left: 49px;
    top: -401.5px;
}